@charset "utf-8";
/* CSS Document */

.page_model { text-align: center; padding: 10px; }
.page_model .page_item { border: 1px solid #CCC; color: #999; padding: 7px 10px; margin: 0; font-size: 14px; }
.page_model span.page_item { border: 0; }
.page_model a.page_item { }
.page_model a.page_item:hover { color: #666; border-color: #999; background-color: #F9F9F9; text-decoration: none; }