.c_b1{color: #00CCFF;}
.content{width: 1200px;margin: 0 auto;}
.nav{width: 1200px;margin: 0 auto;}
.nav_1{text-align: center;position: relative;}
.nav_login{position: absolute;top: 0;right: 0;}
.nav_login a{color: #333;}
.nav_ul{width: 1200px;height: 50px;}
.nav_ul li{float: left;height: 50px;line-height: 48px; width: 240px;text-align: center;border: 1px solid #333; border-left: none; background: #00CCFF; font-size: 20px; font-weight: 700; }
.nav_ul li:first-child{border-left: 1px solid #333;}
.nav_ul li a{color: #333; display: block;   }
.nav_logo{height: 100px;margin-top: 10px;margin-bottom: 10px;}
.footer{width: 1200px;margin: 20px auto 0 auto;}
.footer_ul {margin: 0 auto;width: 600px;padding-bottom: 10px;overflow: auto;}
.footer_ul li{width: 150px;float: left;height: 30px;font-size: 18px;line-height: 30px;text-align: center;}
.footer_ul li a{color: #333;}

.home_bn{margin-top: 20px!important;margin-bottom: 20px!important;width: 100%;height: 300px;}
.home_d1,.home_d2{height: 470px;border: 1px solid #333;}
.home_d1{width: 740px;}
.home_d2{width: 440px;}
.home_d2img{margin-left: 15px;margin-top: 55px;}
.home_d3{height: 360px;width: 600px;border: 1px solid #333;margin-top: 20px;}
.home_d3_bdn{border-right: none;}
.home_d4{width: 1200px;height: 490px;border: 1px solid #333;margin-top: 20px;}
.home_tit1{text-align: center;height: 70px;line-height: 70px;background: #00CCFF;font-size: 20px; font-weight: 700;border-bottom: 1px solid #333;}
.home_tit2{text-align: center;width: 90px; height: 358px;line-height: 358px;background: #00CCFF;font-size: 20px; font-weight: 700;border-right: 1px solid #333;}